@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  src: local("Poppins ExtraLight"), local("Poppins-ExtraLight"),
    url("/fonts/poppins-v13-latin-200.woff2") format("woff2");
  font-display: swap;
}
